doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title AdminLTE 3 | Log in
        // Google Font: Source Sans Pro
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
        // Font Awesome
        link(rel='stylesheet' href='/plugins/fontawesome-free/css/all.min.css')
        // icheck bootstrap
        link(rel='stylesheet' href='/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
        // Theme style
        link(rel='stylesheet' href='/dist/css/adminlte.css')
    body.hold-transition.login-page
        .login-box
            .login-logo
                a(href='/index2.html')
                    b  ĐĂNG KÝ TÀI KHOẢN
            .content-fluid
                .row 
                    .col-12
                        .card.card-primary
                            form#form-add-student(action="/login/add", method="post")
                                .card-body
                                    .row
                                        .form-group
                                            label Họ và tên
                                            input.form-control(type='text' placeholder='Họ và tên' name='fullname')
                                    .row
                                        .form-group
                                            label Số điện thoại
                                            input.form-control(type='text' placeholder='Số điện thoại' name='phone')

                                    .row
                                        .form-group
                                            label Email
                                            input.form-control(type='text' placeholder='Email' name='email')
                                    .row
                                        .form-group 
                                            .row.mt-12
                                                .col-md-6
                                                    label Giới tính:
                                                .col-md-3
                                                    .form-check 
                                                        input.form-check-input(type="radio", name="gender", value='1' checked)
                                                        label Nam
                                                .col-md-3
                                                    .form-check 
                                                        input.form-check-input(type="radio", name="gender", value='0')
                                                        label Nữ

                                    .row
                                        .form-group
                                            label Tên đăng nhập
                                            input.form-control(type='text' placeholder='Tên đăng nhập' name='username')
                                    .row
                                        .form-group
                                            label Mật khẩu
                                            input.form-control(type='password' placeholder='Mật khẩu' name='password')
                                .card-footer.text-center
                                    button.btn.btn-primary(type='submit') Đăng ký
                            // /.col
                // /.login-card-body
                // /.login-box
                // jQuery
                script(src='/plugins/jquery/jquery.min.js')
                // Bootstrap 4
                script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
                // AdminLTE App
                script(src='/dist/js/adminlte.min.js')
